@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

body
    background: #fff

a
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: #2872CA
    text-decoration: none
    &:active
        color: #00428F
    &:hover
        color: #2C7EDF

.container 
    margin: 63px auto
    position: relative
    max-width: 1156px

    .list-coins
        grid-template-columns: repeat(auto-fit, minmax(274px, 1fr))
        justify-content: space-between
        grid-gap: 20px
        display: grid
        margin-top: 28px

        .item
            width: 100%
            height: 176px
            background: #FFFFFF
            box-shadow: 2px 2px 15px rgba(41, 41, 41, 0.06)
            border-radius: 4px
            cursor: pointer
            position: relative

            &:hover
                background: #F8FAFF
                box-shadow: 4px 4px 10px rgba(0, 52, 114, 0.06)

            .item-content
                margin: 24px
                height: 100%

                .link-charts
                    position: absolute
                    bottom: 24px

                .name
                    font-family: Roboto
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 24px
                    color: #000
                    span
                        color: #a4a4a4
                .price
                    margin-top: 15px
                    font-family: Roboto
                    font-style: normal
                    font-weight: normal
                    font-size: 24px
                    line-height: 24px

    .title
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 32px
        line-height: 37px

.charts-main
    margin-top: 70px
