.modal

.modal-body
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 1156px
    height: 80vh
    background: #fff
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.08)
    border-radius: 8px
    padding: 26px
    opacity: 1
    z-index: 2

    .modal-charts
        margin-left: 103px
        margin-right: 103px
        .modal-title
            margin-top: 72px
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 32px
            line-height: 24px
            span
                color: #a4a4a4

.modal-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #7070709e
    z-index: 1

.modal-close
    position: absolute
    top: 26px
    right: 26px
    width: 12px
    height: 12px
    cursor: pointer
    path
        fill: #000
    path:hover
        fill: #2C7EDF

    path:active
        fill: #2872CA
